## [181. Employees Earning More Than Their Managers](https://leetcode.com/problems/employees-earning-more-than-their-managers/)

问题难度: &clubs;

### 问题描述

`Employee`表中存储着所有雇员的信息(包括经理). 每个雇员都有一个工号`id`, 最后一列为其经理的`id`:

```
+----+-------+--------+-----------+
| Id | Name  | Salary | ManagerId |
+----+-------+--------+-----------+
| 1  | Joe   | 70000  | 3         |
| 2  | Henry | 80000  | 4         |
| 3  | Sam   | 60000  | NULL      |
| 4  | Max   | 90000  | NULL      |
+----+-------+--------+-----------+
```

给定`Employee`表, 写一个`SQL`查询语句找出那些工资比他们经理高的员工们. 在上面的表中, 只有`Joe`的工资比他的经理高.

```
+----------+
| Employee |
+----------+
| Joe      |
+----------+
```

### 解题思路

这道题是一个考察`SQL`的题目. 需要考虑到自连接:

- 第一步: 将员工的工资和经理的工资放在同一行, 需要自己`join`一下: `select e.salary, (select salary from Employee m where e.ManagerId = m.Id)  as m.salary from Employee e`, (由于两个表名字相同, 需要使用到`mysql`中的别名)
- 第二步: 筛选出员工工资比经理高的员工: `select e_name as Employee from (select e.name as e_name, e.salary as e_salary, (select salary from Employee m where e.ManagerId = m.Id)  as m_salary from Employee e) as f where f.e_salary > f.m_salary`


### 代码

```
# Write your MySQL query statement below
select e_name as Employee from (select e.name as e_name, e.salary as e_salary, (select salary from Employee m where e.ManagerId = m.Id)  as m_salary from Employee e) as f where f.e_salary > f.m_salary
```

## [182. Duplicate Emails](https://leetcode.com/problems/duplicate-emails/)

问题难度: &clubs;

### 问题描述

写一个`SQL`查询出一个名为`Person`的表中的所有重复邮件.

```
+----+---------+
| Id | Email   |
+----+---------+
| 1  | a@b.com |
| 2  | c@d.com |
| 3  | a@b.com |
+----+---------+
```

例如, 针对上面的表, 应该返回下面的结果:
```
+---------+
| Email   |
+---------+
| a@b.com |
+---------+
```

**注意**: 所有邮件都是小写.

### 解题思路

直接使用`having`和`group by`相结合.

### 代码

```
# Write your MySQL query statement below
select Email from Person group by Email having count(Email) > 1
```

## [183. Customers Who Never Order](https://leetcode.com/problems/customers-who-never-order/)

问题难度: &clubs;

### 问题描述

假设一个网站包含两个表, `Customers`和`Orders`表, 写一个`SQL`查询找到所有从未订购过东西的客户.

`Customers`表:
```
+----+-------+
| Id | Name  |
+----+-------+
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
+----+-------+
```

`Orders`表:
```
+----+------------+
| Id | CustomerId |
+----+------------+
| 1  | 3          |
| 2  | 1          |
+----+------------+
```

基于上面的示例, 返回以下数据:
```
+-----------+
| Customers |
+-----------+
| Henry     |
| Max       |
+-----------+
```

### 解题思路

可以使用到`mysql`中的`not in`, 但是很显然, 时间复杂度比较高. 

在这里, 也可以使用`Left JOIN`来进行解决.


### 代码

```
# Write your MySQL query statement below
select Name as Customers from Customers where Id not in (select distinct(CustomerId) from Orders)
```

```
# Write your MySQL query statement below
select Name as Customers from Customers left join (select CustomerId from Orders) as ods on Customers.Id = ods.CustomerId where ods.CustomerId is NULL;

```

## [184. Department Highest Salary](https://leetcode.com/problems/department-highest-salary/)

问题难度: &clubs; &clubs; &clubs;

### 问题描述

`Employee`表中存储着所有员工的信息. 每个员工有一个`ID`和工资, 还有一列为部门`id`.
```
+----+-------+--------+--------------+
| Id | Name  | Salary | DepartmentId |
+----+-------+--------+--------------+
| 1  | Joe   | 70000  | 1            |
| 2  | Henry | 80000  | 2            |
| 3  | Sam   | 60000  | 2            |
| 4  | Max   | 90000  | 1            |
+----+-------+--------+--------------+
```
`Department`表存储着公司所有部门的信息.

```
+----+----------+
| Id | Name     |
+----+----------+
| 1  | IT       |
| 2  | Sales    |
+----+----------+
```
写一个`SQL`查询语句找到每个部门中工资最高的员工及对应的工资. 

针对上面的示例, `Max`有`IT`部门最高的工资, 而`Henry`有`Sales`部门最高的工资.

```
+------------+----------+--------+
| Department | Employee | Salary |
+------------+----------+--------+
| IT         | Max      | 90000  |
| Sales      | Henry    | 80000  |
+------------+----------+--------+
```

### 解题思路

首先, 在`Department`表中找到每个部门最高的工资(使用`group by`和`max`)
`select Employee.DepartmentId, Employee.Name, Employee.Salary from Employee, (select DepartmentId, max(Salary) as max_salary from Employee group by DepartmentId) as e where e.DepartmentId = Employee.DepartmentId and e.max_salary=Salary;`

再将该表与`Department`表`join`一下:
`select d.Name as Department, e.Name as Employee, e.max_salary as Salary from Department d inner join(...) as e on e.DepartmentId = d.Name`

### 代码
```
# Write your MySQL query statement below
select d.Name as Department, e.Name as Employee, e.Salary from Department d inner join(select Employee.DepartmentId, Employee.Name, Employee.Salary from Employee, (select DepartmentId, max(Salary) as max_salary from Employee group by DepartmentId) as e where e.DepartmentId = Employee.DepartmentId and e.max_salary=Salary) as e on e.DepartmentId = d.Id;
```

## [185. Department Top Three Salaries](https://leetcode.com/problems/department-top-three-salaries/)

问题难度: &clubs; &clubs; &clubs; &clubs; &clubs;

### 问题描述

`Employee`表存储着所有员工的信息. 每个员工都有一个`id`和对应的工资以及部门`id`.

```
+----+-------+--------+--------------+
| Id | Name  | Salary | DepartmentId |
+----+-------+--------+--------------+
| 1  | Joe   | 70000  | 1            |
| 2  | Henry | 80000  | 2            |
| 3  | Sam   | 60000  | 2            |
| 4  | Max   | 90000  | 1            |
| 5  | Janet | 69000  | 1            |
| 6  | Randy | 85000  | 1            |
+----+-------+--------+--------------+
``` 
`Department`表存储着公司所有部门的信息.

```
+----+----------+
| Id | Name     |
+----+----------+
| 1  | IT       |
| 2  | Sales    |
+----+----------+
```
写一个`SQL`语句找到上表中每个部门前三高公司的员工, 我们的`SQL`语句应该返回下列行:

```
+------------+----------+--------+
| Department | Employee | Salary |
+------------+----------+--------+
| IT         | Max      | 90000  |
| IT         | Randy    | 85000  |
| IT         | Joe      | 70000  |
| Sales      | Henry    | 80000  |
| Sales      | Sam      | 60000  |
+------------+----------+--------+
```

### 解题思路

首先考虑结合使用`sort`以及`limit`, 找到每个部门`top 3`工资的员工, 解决过程如下:

- 基于`DepartmentId`和`Salary`进行排序
- 然后对相同部门的员工工资进行排序(特别注意: 如果工资相等, 那么排序应该也要相等)
- 取出排序在前三的员工的信息
- 将部门信息`join`起来


### 代码

```
# Write your MySQL query statement below
SELECT d.Name AS Department, e.Name AS Employee, e.Salary
FROM(
SELECT t.Name,
CASE
WHEN t.DepartmentId = @preDep THEN 
    CASE
    WHEN t.Salary = @preSal THEN @rank
    ELSE @rank := @rank + 1
    END
ELSE @rank := 1
END
AS rank,
@preDep := t.DepartmentId AS depId,
@preSal := t.Salary AS Salary
FROM
(SELECT * FROM Employee ORDER BY DepartmentId, Salary DESC) AS t, 
(SELECT @rank := 0, @preDep := -1, @preSal := -1) INIT
) AS e JOIN Department as d ON e.depId = d.Id WHERE e.rank <=3;
```

## [186. Reverse Words in a String II](https://leetcode.com/problems/reverse-words-in-a-string-ii)

问题难度: &clubs; &clubs; &clubs;

### 问题描述

给定一个输入字符串, 逐个单词逐个单词翻转字符串.

**示例**
```
Input:  ["t","h","e"," ","s","k","y"," ","i","s"," ","b","l","u","e"]
Output: ["b","l","u","e"," ","i","s"," ","s","k","y"," ","t","h","e"]
```

**注意**
- 一个单词的定义为: 一个非空字符串的序列
- 输入字符串前后不包含空字符串
- 单词之间一般用`""`分隔

**延伸**:  尝试在`O(1)`的空间复杂度内*就地*解决这个问题.

###  解题思路

和之前第`158`题的想法类似, 甚至比之前更简单, 因为不用考虑多余的空格问题. 首先将整个字符串旋转, 再将逐个单词进行旋转.

### 代码

In [7]:
class Solution(object):
    def reverseWords(self, s):
        """
        :type s: a list of 1 length strings (List[str])
        :rtype: nothing
        """
        def reverse(s, i, j):
            # 将s从i到j的元素进行对调
            while i < j:
                s[i], s[j] = s[j], s[i]
                i += 1
                j -= 1
        reverse(s, 0, len(s)-1)
        # 然后遍历, 找到每个单词的起始位置和终止位置
        start_idx, end_idx = 0, 0
        for i in range(1, len(s)):
            while i < len(s) and s[i] != " ":
                i += 1
            end_idx = i - 1
            reverse(s, start_idx, end_idx)
            start_idx = i + 1

In [9]:
sl = Solution()
s = ["t","h","e"," ","s","k","y"," ","i","s"," ","b","l","u","e"]
sl.reverseWords(s)
print(s)

['b', 'l', 'u', 'e', ' ', 'i', 's', ' ', 's', 'k', 'y', ' ', 't', 'h', 'e']

## [187. Repeated DNA Sequences](https://leetcode.com/problems/repeated-dna-sequences/)

问题难度: &clubs; &clubs; &clubs;

### 问题描述

所有的`DNA`都是由简写为`A`,`C`,`G`,`T`的核苷酸序列构成, 例如: ` "ACGAATTCCG"`,在研究`DNA`的时候, 识别`DNA`中的重复序列有时候是非常有用的.

写一个函数找到所有出现在一个`DNA`分子中超过一次的`10`个字符长度的序列(子串).

**示例**
```
Input: s = "AAAAACCCCCAAAAACCCCCCAAAAAGGGTTT"

Output: ["AAAAACCCCC", "CCCCCAAAAA"]

```

### 解题思路

最直接的方式: 维护一个`10`字符的字符窗口, 首先判断返回列表中是否已经包含了该字符串, 如果不包含, 那么直接向后开始找是否有相同的字符串即可; 如果包含, 则直接跳过.

好的, 那么问题转变为了: 怎么判断某个字符串中是否有相同的字符串. 

- 先试用一用`python`中自带的`in`函数. 有点吃惊, 居然`AC`了, 很显然, 这种方法的时间复杂度应该有`O(n^3)`

然后参考了下网上的代码, 再讲一种比较简单的思路:

由于字符串只可能由`4`中字符构成, 四种字符的二进制表示为;

`A`: 0100 0**001**
`C`: 0100 0**011**
`G`: 0100 0**111**
`T`: 0101 0**100**

可以发现, 最后三位能够标识不同的字符, 然后这里要求的是`10`个字符, 因此需要`3*10=32`位来标识这`10`个字符, 换算成十六进制大概是`8`位, 为了提取出后`30`位, 我们还需要使用一个`mask`, `0x7ffffff`用这个`mask`可以取出后`27`位, 再向左平移`3`位即可. 算法的基本思想: 第一次取出前`10`个字符之后, 将其存在哈希表中; 之后向左移动`3`位, 再将当前字符的最后`3`为存储到后面, 查找新字符串在哈希表中出现的次数, 如果正好出现过`1`次, 则将次数设置为`1`, 并且将其加入到返回列表中. (`PPPS...` 这样的做法存储进去可以比较节省内存.)


### 代码

In [5]:
class Solution(object):
    def findRepeatedDnaSequences(self, s):
        """
        :type s: str
        :rtype: List[str]
        """
        ret_list = []
        char_size = 10
        for i in range(len(s) - char_size):
            cur_str = s[i: i + char_size]
            if cur_str not in ret_list and cur_str in s[i+1:]:
                ret_list.append(cur_str)
        return ret_list
    
    
    def findRepeatedDnaSequencesBit(self, s):
        """
        :type s: str
        :rtype: List[str]
        """
        if len(s) <= 10:
            return []
        mask = 0x7ffffff
        cur = 0
        str_dict = dict()
        ret_list = list()
        for i in range(9):
            cur = (cur << 3) | (ord(s[i]) & 7)
        for i in range(9, len(s)):
            cur = ((cur & mask) << 3) |  (ord(s[i]) & 7)
            if cur in str_dict:
                cnt = str_dict[cur]
                if cnt == 1:
                    ret_list.append(s[i-9:i+1])
                str_dict[cur] += 1
            else:
                str_dict[cur] = 1
        return ret_list

In [6]:
sl = Solution()
s = "AAAAACCCCCAAAAACCCCCCAAAAAGGGTTT"
print(sl.findRepeatedDnaSequences(s))
print(sl.findRepeatedDnaSequencesBit(s))
s = "AAAAAAAAAAAA"
print(sl.findRepeatedDnaSequences(s))
print(sl.findRepeatedDnaSequencesBit(s))

['AAAAACCCCC', 'CCCCCAAAAA']
['AAAAACCCCC', 'CCCCCAAAAA']
['AAAAAAAAAA']
['AAAAAAAAAA']